!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title NewsRoom
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'

  %body
    %header.main-nav
      %nav
        %ul
          %li
            = link_to 'News Room', root_path, style: 'font-size: 1.5rem;'
        %ul
          - if current_user
            %li
              %span
                %i.fa.fa-user
                = current_user.email
                = link_to 'Log out', destroy_user_session_path, method: :delete
          -else
            %li= link_to 'Register', new_user_registration_path
            %li= link_to 'Login with Facebook', user_facebook_omniauth_authorize_path




    .container
      - if flash[:error]
        :javascript
          k$.growl({
            text: "#{flash[:error]}",
            type: 'alert-error',
            delay: 5000
          })
      - elsif flash[:notice]
        :javascript
          k$.growl({
            title: 'Cool',
            text: "#{flash[:notice]}",
            type: 'alert-success',
            delay: 5000
          })
      = yield
